/*TYPOGRAPHY*/
// -------------------------------------------------- */

//https://betterwebtype.com/articles/2018/10/15/rhythm-in-web-typography/
// Variables
$base-font-size: 106; // Gets used as %
$bl: 1.76;

$base: 16 * ($base-font-size / 100);
$leading: $base * $bl;

// Vertical rhythm mixins
@mixin line-height($number){
  line-height: #{$number * $leading + 'px'};
  line-height: #{$number * $bl + 'rem'};
}
@mixin margin-top($number) {
  margin-top: #{$number * $leading + 'px'};
  margin-top: #{$number * $bl + 'rem'};
}
@mixin margin-bottom($number){
 margin-bottom: #{$number * $leading + 'px'};
  margin-bottom: #{$number * $bl + 'rem'};
}

/* http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/*/
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
@mixin emSize($size) {
  //font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}
@function setSize($map, $object, $style){
  @if map-has-key($map, $object){
    @return map-get(map-get($map, $object), $style);
  }
}

@mixin setTypeSize($size:s1){
  
  $sizes:(
    s4:(
    fontsize:120,
    lineheight:4,
    margintop:1,
    marginbottom:0,
    ),
    s3:(
    fontsize:45,
    lineheight:2,
    margintop:1,
    marginbottom:1,
          ),
    s2:(
    fontsize:28,
    lineheight:1,
    margintop:1,
    marginbottom:1,
          ),
    s1:(
     fontsize:17,
    lineheight:1,
    margintop:1,
      marginbottom:1,
      ),
    s0:(
     fontsize:14,
     lineheight:1,
     margintop:1,
     marginbottom:0,
      ),
  );
  
  
  //2. Grab colour and its tone value from map
  @if ($size != null) {
    $fontsize: setSize($sizes, $size, fontsize) * 1px;
   $topmargin: setSize($sizes, $size, margintop);
   $bottommargin: setSize($sizes, $size, marginbottom);
   $lineheight: setSize($sizes, $size, lineheight);
    @include emSize($fontsize);
    @include line-height($lineheight);
    @include margin-bottom($bottommargin);
    @include margin-top($topmargin);
  } @else {
       $fontsize: setSize($sizes, s1, fontsize);
   $topmargin: setSize($sizes, s1, margintop);
   $bottommargin: setSize($sizes, s1, marginbottom);
   $lineheight: setSize($sizes, s1, lineheight);
    @include emSize($fontsize);
    @include line-height($lineheight);
    @include margin-bottom($bottommargin);
    @include margin-top($topmargin);
  }
  };


/*Declaring main heading and body copy families*/
$primary: 'Open Sans', Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
$secondary: 'Abril Fatface', Georgia,Times,Times New Roman,serif;

$fontFamilies:(
 secondary:(font-family: $secondary, cap-height:0.7),
  primary:(font-family:$primary, cap-height:0.63)
);

@mixin setTypeFace($typeface:'primary'){
  font-family: getTypeface($typeface, 'font-family');
};

@function getTypeface($typeface, $typefacefeature:'font-family'){
  @return unquote(map-get(map-get($fontFamilies, $typeface), $typefacefeature));
};

// -------------------------------------------------- */

$standardmeasure: calc(1rem * #{$bl});


/* TYPOGRAPHY RESET */
html {
  /* Change default typefaces here */
    font-size: #{$base-font-size + '%'};
    @include setTypeFace('primary');
}

/* Copy & Lists */
p {
  @include setTypeSize('s1');
  color: colour(charcoal, 600);
  text-align:left;
}
ul,
ol {
  margin-top: $standardmeasure;
  margin-bottom: $standardmeasure;
  color: colour(charcoal, 600);
}
ul li,
ol li {
  line-height: $standardmeasure;
  color: colour(charcoal, 600);
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: $standardmeasure;
  margin-top: $standardmeasure;
  margin-bottom: $standardmeasure;
  background:white;
  border-radius:15px;
  overflow:hidden;
  position:relative;
  display:flex;
  padding: $standardmeasure;
  flex-direction:column;
  box-shadow:0px 10px 20px  transparentize(colour(charcoal,900), 0.80);
  color: colour(charcoal, 600);
  quotes: "\201C""\201D""\2018""\2019"; 
}

blockquote:before {
  color: colour(charcoal, 200);
  content: open-quote;
  color: colour(charcoal, 600);
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: $standardmeasure;
  margin-bottom: 0;
  line-height: $standardmeasure;
  color: colour(blue, 700);
}
h1 {
@include setTypeSize('s4');
@include setTypeFace('secondary');
}
h2  {
@include setTypeSize('s3');
@include setTypeFace('secondary');
}
h3, h4, h5, h6 {
@include setTypeSize('s2');
@include setTypeFace('secondary');
}

/* Tables */
table {
  margin: $standardmeasure 0;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: calc(1.75rem/2);
  line-height: $standardmeasure;
}


table td {color: colour(charcoal, 600);}
table th {color:colour(blue,600);}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead, .intro {
  @include setTypeSize('s2');
  text-align:center;
   max-width:40ch;
  margin-left: auto;
 margin-right: auto;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

p + figure, figure + figure, figure + p {margin:4.5rem 0;}

figure + h3 {margin-top:2rem;}

.intro + h3, .intro + h4, .intro + .infographic_masonry_grid {margin-top: calc(#{$standardmeasure} * 2);}

p a, p a:visited {color:colour(teal,700);
                 text-decoration: none !important;
                 border-bottom: 0.08rem solid colour(charcoal,300);
                 transition: border-color .15s ease-out;}
p a:hover {color:colour(teal,900);
           border-bottom: 0.0625rem solid colour(teal,900);}

// -------------------------------------------------- */

/*USEFUL MIXINS*/
// -------------------------------------------------- */
@mixin allCaps(){
    text-transform:uppercase;
    letter-spacing:0.10em;
    font-weight:bold;
    color:white;
}

@mixin mainhead(){
    @include setTypeFace('secondary');
    @include setTypeSize('s3');
    text-shadow:0px 5px 10px 
        transparentize(colour(charcoal,900), 0.80);
     color:colour(blue, 700);
}

@mixin subhead(){
    @include setTypeSize('s0');
    @include setTypeFace('primary')
    @include allCaps();
    color:colour(teal, 500); 
}

@mixin subhead_large(){
    @include setTypeSize('s1');
    font-weight:600;
    max-width:46ch;
    @include for-size(tablet-landscape-up){
    @include setTypeSize('s2');
    font-weight:400;
    max-width:32ch;
    }
    
    @include setTypeFace('primary')
    @include allCaps();
    color:colour(teal, 500); 
}

@mixin button(){
    color: white;
    font-weight: 700;
    @include setTypeFace('primary');
    text-decoration:none;
    display:inline-block;
    min-width:80px;
    cursor: pointer;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    user-select: none;
    transition: all .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
-webkit-tap-highlight-color: transparent;
    background: colour(teal, 600);
    box-shadow: 0px 5px 10px transparentize(colour(teal, 600), 0.60);
    :focus {outline:2px solid colour(charcoal,500);}
    &:hover {
        background: colour(teal, 700);
        transform: scale(1.1);
    }
    &::-moz-focus-inner {
    border: 0;
  }
}

.button {@include button;}
.contactme {@include button;
            @include setTypeSize('s0');
            margin-top:0 !important;}

// -------------------------------------------------- */


/*OVERRIDES*/
// -------------------------------------------------- */

figure.media, .single_post figure {figcaption, figcaption p {font-style: italic;
                               @include setTypeSize('s1');
             @include setTypeFace('primary');
             color:colour(charcoal, 600);}
}

.sitenavigation {
    .contactme {@include setTypeSize('s0');}
    .menu{
    display:flex;
    align-items:center;
   list-style:none;
  margin:0;
  padding:0;
  
         
  a {@include allCaps();
     @include setTypeSize('s0');
    @include setTypeFace('primary');
       text-decoration:none;
             
        &:after{content:"";
           display:block;
           height:1px;
           border-bottom: solid 1px white;  
           transform: scaleX(0);  
           transition: transform 250ms ease-in-out;}

        &:hover {
            
            &:after{width:100%;
                         transform: scaleX(1);}}
    
    }      
  li {display:inline-block; vertical-align:center; padding: 0 20px;}
  li.current {background:colour(blue, 700);
              border-radius:11px;}  
  li a {transition: all 0.3s ease 0s;}
    }
    
}

/* header module */
.page_header{@include setTypeSize(s3);
            font-weight:bold;
             @include setTypeFace(secondary);
             color:colour(yellow,100);
             text-align:center;
    @include for-size(tablet-portrait-up){
       @include setTypeSize(s4); 
    }
            }
.work_header, .blog_header, .about_header {@include mainhead();}

body.home {
    .page_header {
        color: colour(teal, 600);
        @include for-size(tablet-landscape-up){
            text-align:left;
        }
    }
    .page_lead {@include setTypeSize(s2);
            font-weight:400;
            text-align:center;
            color:colour(blue,300);
             @include setTypeFace(primary);
             
        @include for-size(header_breakpoint){
            text-align:left;
        }
        
        }
    .work_header {
        margin-top:0;
        padding:0;
}
    .client_header{
        font-weight:600;
        text-align:center;
        @include setTypeSize('s1');
        color:colour(blue,500);
    }
}

body.mywork, body.blog, body.error, body.blogpost {
    .page_header {text-shadow: 0px 5px 10px transparentize(colour(teal, 800), 0.40);}
}


/* portfolio module */
.portfolio, .relatedwork, .relatedposts{
.work_article .card, .list_of_related_posts .card {
    .card_caption {text-align:center;}
    .work_title, .post_title {@include setTypeSize('s2');
                 @include setTypeFace('secondary');
                  text-align:left;
                }
    .work_components {@include subhead();
                      line-height:1.3125rem;
                      margin-top:0;}
    .work_title a, .post_title a {text-decoration:none;}
    .work_title a, .work_title a:visited, .post_title a, .post_title a:visited{color: colour(blue, 400);}
    }
    .work_article .card:hover, .list_of_related_posts .card:hover {
        .work_title a {color: colour(blue, 600);}
        .work_components {color: colour(teal, 700);}
}
}


.relatedposts li.post {
    .post_time {margin-bottom: $standardmeasure;} 
}

/* work items */
body.workitem {
        .workitem_components {@include subhead_large();
                               text-align:center;
                               margin-left: auto;
                               margin-right: auto;}
             .workitem_title {
                  text-align:center;
                @include setTypeSize('s3');
                 @include for-size(tablet-landscape-up){
                 @include setTypeSize('s4');
                               }
    }
}

/* notebook post extracts */
li.post {
    .post_category {@include subhead();
                    text-align:center;
                    margin:0;
        @include for-size(tablet-portrait-up){
            text-align:left;
        }
    }
    .post_title {@include setTypeSize('s2');
                margin:0;
        @include for-size(tablet-portrait-up){
            text-align:left;
        }
    
    }
    .post_time {@include setTypeSize('s0');
                margin:0;
                color: colour(charcoal, 500);
                text-align:center;
        @include for-size(tablet-portrait-up){
            text-align:left;
        }
    
    }
    .post_footer {text-align:left;}
    .post_permalink {@include setTypeSize('s0');
                    margin-top:0;
                    margin-right:auto;}
}


aside.sidebar {
    .category li {margin-bottom: calc(#{$standardmeasure}/2);}
    .category li:last-child {margin-bottom:0;}
    .category li a, .category li a:visited {
        @include setTypeFace('primary');
        @include setTypeSize ('s1');
        margin-top:0;
        margin-bottom: calc(#{$standardmeasure}/2);
        text-decoration: none;
        color: colour(charcoal, 600);
        font-weight: 300;
        
        .post_count {color:colour(teal,700);
                 text-decoration: none !important;
                 transition: border-color .15s ease-out;}
        
    }
    
        .category li a:hover {
            color:colour(teal,900);
    
            .post_count{color:colour(teal,900)} 
    }
    
}

/* notebook posts */

body.home .blog, body.blog, body.blogpost, .relatedposts {
ul.tags, ul.share_links {
    li.heading p {font-weight:700;
                  margin-top:0;
                  margin-bottom:0;
                  margin-right:0.25rem;}
    li.tag a, li.tag a:visited  {
        background-color: colour(blue, 300);
        font-size: .85714286rem;
        display:inline-block;
        line-height: 1;
        vertical-align: baseline;
        margin: 0 .14285714em;
        margin-left: 0.142857em;;
        background-image: none;
        padding: .5833em .833em;
    padding-right: 0.833em;
    padding-left: 0.833em;
     color: white;
    text-transform: none;
        font-weight: 700;
border-radius: .28571429rem;
transition: background .1s ease;
text-decoration:none;
}
    
    li.tag a:hover {
           background-color: colour(blue, 400);
    }
    }
} 

body.blog, body.blogpost {
    .pagination_links {
        
        .current, .page_nav {
        border: 1px solid colour(blue, 300);
        color: colour(blue, 300);
        }
        
        li a, li a:visited {        
            background-color: colour(blue, 300);
                 color: white;}
        
    li a, li a:visited, .current, .page_nav  {
        font-size: .85714286rem;
        display:inline-block;
        line-height: 1;
        vertical-align: baseline;
        margin: $standardmeasure .14285714em 0 .14285714em;
        margin-left: 0.142857em;;
        background-image: none;
        padding: .5833em .833em;
    padding-right: 0.833em;
    padding-left: 0.833em;
    text-transform: none;
        font-weight: 700;
border-radius: .28571429rem;
transition: background .1s ease;
text-decoration:none;
}
    
    li a:hover {
           background-color: colour(blue, 400);
    }
    
    
}
}

body.blogpost {
    .page_navigation {
        .navigation_heading {font-weight:700;
                            margin-bottom:0 !important;
                              color: colour(blue,600);}
        .navigation_heading + p {margin-top: 0;}
    }
    .page_navigation {
        
        .next_page p {
        @include for-size(tablet-portrait-up){
        text-align:right !important;    
        }
            
        }    
    }
    .post_title {
                  text-align:center;
                @include setTypeSize('s3');
                 @include for-size(tablet-landscape-up){
                 @include setTypeSize('s3');
                               }
    }
    .post_header .post_time {text-align:center;
                @include setTypeSize('s1');
                color:colour(teal,700);}
}


/* site footer */
.site_footer {
    h3 {text-align:left;
        color: colour(yellow, 100);
        }
    label p {margin:0; color: colour(yellow, 200);
            @include setTypeSize('s0');}
    textarea, input {margin-top: calc(#{$standardmeasure}/2);
    background-color: colour(blue, 800);
    border:1px solid colour(blue, 700);
    display:block;
    width:100%;
    padding: 0.5rem 1rem;
  color: colour(blue, 300);
        @include setTypeFace('primary');
        @include setTypeSize('s1');
        margin:0;
        border-radius: $gutter/4;
        transition: all .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    
        &:active, &:focus {border:1px solid colour(blue,400);
        background-color: colour(blue, 700);}
    
    }
    
    .name, .email, .message {margin-bottom: $standardmeasure;}
    
    button {@include button;
            font-size:1rem;}
    
    .copyright p {@include setTypeSize('s0');
                 color: colour(blue, 200);
                    }
}


// -------------------------------------------------- */




