---
layout: default
title: Home
pageclass: home
---
    <section class="titlecontent">
        <div class="section_wrap">
        <div class="title_grid">   
        <div class="title_overlay">
        <h2 class="page_header">I'm Stacey! </h2>
        <p class="page_lead">I’m a Welsh digital designer and illustrator based in Berkshire. I help people leap ahead and create fantastic content for fantastic people, from pencil to pixel.</p>
            </div>
        </div> 
        </div>
       </section>
    
    <section class="clients">
    <div class="section_wrap">    
    <p class="client_header">
    As an in-house graphic designer, I've worked with the following clients:    
    </p>
    </div>
    </section>
    
    <section class="portfolio">
            {% include /partials/section_top.html %}
            <div class="section_content">   
            <div class="section_wrap">   
        <h4 class="work_header">Here's what I do...</h4>
        <div class="work_row">
                <ul class="work_list">
                {% for work in site.workitems %}
                {% include /partials/workloop.html %}
                {% endfor %}
            </ul>
            </div>
            </div> 
        </div>
            {% include /partials/section_bottom.html %}
            </section>
    
    <section class="notebook">
        <div class="section_wrap">
        <h4 class="notebook_header">Notebook</h4>
        <ul class="list_of_posts">
         {% for post in site.posts limit:3 %}
        {% include /partials/postloop.html %}
            {% endfor %}   
        </ul>
            <div class="notebook_link">
            <a class="button" href="/notebook/">Show more notes</a>
            </div>
        </div>
    </section>
