---
layout: default
title: Projects
pageclass: mywork
permalink: /projects/
thumb: header/header_top_characters.png
description: A selection of work by digital designer and illustrator Stacey Jenkins
---

<div class="mywork">
   <div class="titlecontent">
        <div class="title_overlay">
        <h2 class="page_header">Projects</h2>
            </div>
       </div>
            <div class="portfolio">
                <div class="work_row">
                <ul class="work_list">
               {% for work in site.workitems %}
                {% include /partials/workloop.html %}
                {% endfor %}
            </ul>
                </div>
    </div>