$grid-gap: 30px;
$grid-width: 100% + #{$grid-gap};

.portfolio, .relatedwork { 
    .work_list {
        @include gridsupport(){
     display:grid;
     width:100%;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-column-gap:30px;        
    grid-auto-rows: 1fr;
    margin:0;
    }
        list-style:none;
        display:inline-flex;
        flex-flow:column wrap;
        width:calc(100% + 30px);
        margin:0 -15px;
        position:relative;
        
        @include for-size(tablet-portrait-up){
            flex-flow:row wrap;
            align-items:stretch;
        }
        
    }
    .work_article {
        @include gridsupport(){
            padding-left:0;
            padding-right:0;
            padding-bottom:1.75rem;
            padding-top:0;
            width:100%;
        }
        padding: 0 $grid-gap/2;
        margin-bottom:1.75rem;
        width:100%;
        
        &:after {content:'';
                display:block;
                flex: 999;}
        
        @include for-size(tablet-portrait-up){
            @include gridsupport(){
                width:100%;
            }
            
            width:50%;}
        
         @include for-size(desktop-up){
               @include gridsupport(){
                width:100%;
            }
             width:25%}
        }
    }

.portfolio, .relatedwork {
.card { background:white;
        height:100%;
        border-radius:11px;
        overflow:hidden;
        position:relative;
        display:flex;
        flex-direction:column;
        box-shadow:0px 10px 20px  transparentize(colour(charcoal,900), 0.80);
         transition: all .2s ease-in-out;
        
            &:hover {transform:scale(1.1);}

            a:focus {text-decoration:underline;}
            
            &:focus-within a:focus {text-decoration:none;}
            &:focus-within .work_title a:focus {text-decoration:none;}
    
    .card_caption { padding: 0 .882352941rem;
                   max-width:60ch;
                   display:flex;
                   align-items: center;
                    flex-grow:1;
                    order:1;
                   flex-direction:column;}
    
    .card_caption > *+* {margin-top:0.75rem;}
    
    .card_caption:last-child {margin-top:auto;}
    .card_caption:nth-last-child(2){margin-bottom:1rem;}
    
    .card_image {background:colour(teal,600);
                 width:100%;
                 height:276px;
                 overflow:hidden;
                 margin:0;
                 padding:0;
                 border-bottom: 4px solid colour(teal,600);
                 
        figure {position:relative;
                width:100%;
                height:100%;}
        figure img {
        object-fit:cover;
        height:100%;
        width:100%;
    }
    }
    
    a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
    .work_title a:focus {text-decoration:underline;}
    
}
}
