  <footer class="site_footer">
            <div class="footer_banner">
            <div class="footer_top">
              <svg viewbox="0 0 3841 360">  
                <defs>
                <mask class="mask" id="bottomstroke">
            <image xlink:href="{{site.baseurl}}/assets/img/footer/footer_mask_scaled.png" width="100%" height="100%"/>  
            </mask>
            </defs> 
            <rect class="footerstroke" mask="url(#bottomstroke)" width="100%" height="100%">
        </svg>      
      </div>
            <div class="footer_bottom">   
                <div class="footer_content">
                    <div class="footer_row">
      <div class="contactform">
      <h3>Let's get in touch</h3>
      <p>Contact form</p>
      <a class="button" href="#">Send</a>      
      </div>
      <div class="right_col">                 
      <div class="notebook_cats">
      <ul>
          <li>Notebook category</li>
          </ul>
      </div>
      <div class="footer_socials">
       <ul class="socials">
        <li><a href="#"><i class="fab fa-twitter"></i><span>Main Twitter</span></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i><span>Personal Twitter</span></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i><span>LinkedIn</span></a></li>
        <li><a href="#"><i class="fab fa-tumblr"></i><span>Tumblr</span></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i><span>Email</span></a></li>
      </ul>
      </div>
      </div>   
      </div>                    
    
    <div class="bottomrow"> 
        <div class="copyright">
       <p>All content unless otherwise stated is (c) 2016-2020 Stacey 'froginajar' Jenkins</p>
      </div>
      <div class="sitemap">
         {% include /partials/navigation.html %}
      </div>
    </div>
                </div>
                </div>   
                </div>
    </footer>    

    <!--scripts-->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      
    <script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = {{page.url}};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{page.url}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};


(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://http-www-staceyjenkins-co-uk.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
  
      