<li class="post {{tag}}">
                        <div class="post_image">
                        <figure class="image_container">
                        <a href="{{post.url}}">
                        <img src="{{post.thumb}}" alt="{{post.title}}"/>
                        </a>
                        </figure>
                        </div>    
                        <div class="post_caption">
                        <header class="post_header">
                         <h3 class="post_title">{{post.title}}</h3>
                        <p class="post_time"><time datetime="{{post.date}}">{% assign day = post.date | date: "%-d"  %}
{% case day %}
  {% when '1' or '21' or '31' %}{{ day }}st
  {% when '2' or '22' %}{{ day }}nd
  {% when '3' or '23' %}{{ day }}rd
  {% else %}{{ day }}th
{% endcase %}
{{ post.date | date: "%B, %Y" }}</time></p> 
                    </header>
                        <div class="post_excerpt">
                        <p>{{post.excerpt}}</p>
                        </div>
                        <footer class="post_footer">
                        <a class="post_permalink button" href="{{site.baseurl}}{{post.url}}">Read more</a>
                        </footer>
                        </div>
                    </li>