<!--scripts-->
      <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
      <!-- Fall back to a local copy of jQuery if the CDN fails-->
<script>
window.jQuery || document.write('<script src="{{site.url}}{{site.baseurl}}/assets/js/jquery.min.js"><\/script>')
window.jQuery || document.write('<script src="{{site.url}}{{site.baseurl}}/assets/js/jquery.waypoints.min.js"><\/script>')

 var $options = {
        
        scriptUrl: '//http-www-staceyjenkins-co-uk.disqus.com/embed.js',
        laziness: 1,
        throttle: 250,
          disqusConfig: function()
  {
    this.page.title       = '{{page.title}}';
    this.page.url         = '{{site.url}}/{{site.baseurl}}/{{page.url}}';
    this.page.identifier  = '{{page.url}}';
  }
    };
</script>
   
<script src="{{site.url}}{{site.baseurl}}/assets/js/instagramfeed.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{{site.url}}{{site.baseurl}}/assets/js/disqusloader.js"></script>
    <script src="{{site.url}}{{site.baseurl}}/assets/js/scripts.js"></script>