<li class="work_article">
                <div class="card">
                    <div class="card_caption">
                        <div class="card_text">
                        <h5 class="work_title">
                        <a href="{{site.baseurl}}{{work.url}}">
                        {{work.title}}
                        </a>    
                        </h5>
                        <p class="work_components">
                            {{work.type}}
                        </p>
                        </div>
                    
            </div>
                    <div class="card_image">
                            <figure>
                            <img src="{{site.baseurl}}/assets/img/{{work.thumb}}" alt="{{work.title}}"></figure>
                        </div> 
                    
            </li>