---
layout: blog
title: Blog
pageclass: blog
thumb: header/header_top_characters.png
description: Sketches, design discussions and all round creative stuff from the blog of digital designer and illustrator Stacey Jenkins
pagination:
  enabled: true
  permalink: '/page:num/'
---

 <ul class="list_of_posts">
                    {% for post in paginator.posts %}
                    {% include /partials/postloop.html %}
                    {% endfor %}   
                    </ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
    <ul class="pagination_links">
  {% if paginator.previous_page %}
    <li>    
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <div class="page_nav">&laquo; Prev</div>
    </li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    <li>  
    {% if page == paginator.page %}
      <div class="current">{{ page }}</div>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
        </li>  
  {% endfor %}

  {% if paginator.next_page %}
    <li>   
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <div class="page_nav">Next &raquo;</div>
    </li>     
  {% endif %}
   </ul>    
</div>
{% endif %}

    