---
layout: default
title: Posts filed under {{page.tag}}
pagination: 
  enabled: true
  category: {{page.tag}}
---  

<div class="titlecontent">
        <div class="title_overlay">
        <h2 class="page_header">Blog</h2>
            </div>
       </div>
            <section class="blog_content">
                <div class="section_wrap">
                <div class="blogcontent">  
                <div class="blog_structure">
                <div class="post_area">
                <h3>Filed Under {{page.tag | capitalize}}</h3>
                    <ul class="list_of_posts">
                   {% for post in site.categories[page.tag] %}
                    {% include /partials/postloop.html %}
                    {% endfor %}   
                    </ul>
                </div>
                     
                {% include /partials/blogsidebar.html %}
          </div>
                </div>
    </section>
                
                
                
                